
#countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#btnContainer{
    text-align: center;
}

.btns{
    padding: 10px 20px;
    font-size: 1.5em;
    color: rgb(15, 13, 13);
    background-color: rgb(240, 19, 19);
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.btns:hover{
    background-color: rgb(15, 177, 123);
}